<div class="our-plus">
<div class="container clearfix">
    <div class="our-plus__item col-lg-3">
    <div class="our-plus__icon">


    </div>
    <div class="our-plus__title">
        SLEEK DESIGN
    </div>
    <div class="our-plus__text">
        Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
    </div>

</div>
    <div class="our-plus__item col-lg-3">
        <div class="our-plus__icon">


        </div>
        <div class="our-plus__title">
            CLEAN CODE
        </div>
        <div class="our-plus__text">
            Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        </div>

    </div>
    <div class="our-plus__item col-lg-3">
        <div class="our-plus__icon">


        </div>
        <div class="our-plus__title">
            CREATIVE IDEAS
        </div>
        <div class="our-plus__text">
            Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        </div>

    </div>
    <div class="our-plus__item col-lg-3">
        <div class="our-plus__icon">


        </div>
        <div class="our-plus__title">
            FREE SUPPORT
        </div>
        <div class="our-plus__text">
            Lorem Ipsum is simply dummy text of the printing and typesetting let. Lorem Ipsum has been the industry.
        </div>

    </div>
</div>
</div>